<ion-view title="帳戶設定：LINE@iStore">
    <ion-content scroll="false">
        <div class="list">
            <label class="item item-input">
                <span class="input-label">帳戶: {{accountCtrl.account.username}}</span>
            </label>
            <div class="row">
                <button class="button button-block button-dark" ng-click="accountCtrl.logout()">
                        登出
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button class="button button-block button-dark" ng-click="accountCtrl.login()" ng-disabled="accountCtrl.isLogin">
                        Store24 進入
                </button>
            </div>
            <div class="col">
                <button class="button button-block button-dark" ng-click="accountCtrl.register()" ng-disabled="accountCtrl.account.accountId">
                        Store24 開戶
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>